main {
    text-align: center;
}

.peça {
    display: inline-block;
    margin: 50px;
    background-color: rgba(233, 229, 229, 0.504);
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
}

.peça img {
    border-radius: 25px;
}

.peça h2 {
    color: #42A66D;
    
}